.more-screen .icon-row {
  margin-top: 30px;
}

.more-suggestions {
  border-top: var(--main-border);
  padding-top: 20px;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  padding-bottom: 20px;
}
.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.more-suggestions__icon-image img {
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
}
