.alt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
  z-index: 2;
}
.alt-header__column {
  width: 33%;
}
.alt-header__title {
  font-size: 30px;
}
.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column i:last-child {
  margin-left: 15px;
}
