.nav {
  background-color: #f9f9fa;
  padding: 20px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__list a {
  color: #2e363e;
}
.nav__alert {
  position: absolute;
  left: 10px;
  bottom: 10px;
  animation: alertAnimation 3s linear infinite;
}
.nav__alert2 {
  width: 5px;
  height: 5px;
  background-color: yellowgreen;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__link {
  position: relative;
}

@keyframes alertAnimation {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-10px);
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

@keyframes appearBtnAnimaion {
  from {
    opacity: 0;
  }
  to {
    transform: none;
  }
}

.nav__btn {
  transform: translateY(50px);
  animation: appearBtnAnimaion 2s ease-in-out forwards;
}
.nav__btn:nth-child(2) {
  animation-delay: 0.4s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.8s;
}
.nav__btn:last-child {
  animation-delay: 1.2s;
}
