.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}
.screen-header__title {
  font-size: 30px;
  font-weight: bold;
}
.screen-header__icons span {
  margin-left: 25px;
}

@keyframes gearSpin {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: gearSpin 1s linear infinite;
}
