.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__title {
  font-weight: bold;
  font-size: 20px;
}
.user-component__avatar {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 20px;
}
.user-component__avatar--xl {
  width: 70px;
  height: 70px;
}
.user-component__subtitle {
  margin-top: 7px;
  color: rgba(0, 0, 0, 0.4);
}

.ser-component__title--not-bold {
  font-weight: lighter;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
}

.user-component__column:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 5px;
}
